# Recommended .htaccess file for </SPARK> - Simple.PHP.Ajax.Request.Kit

# Turn on URL rewriting
RewriteEngine on

# Installation directory
RewriteBase /

# Redirect non existing urls to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php
